{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <title>Additional Question</title>
      <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
      <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
      <link rel="shortcut icon" href="{% static 'images/image1.png' %}" type="image/png">
      <link rel="stylesheet" href="{% static 'css/style3.css' %}">
    </head>
    <body>
    {% block main %}
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
        <script src="{% static 'js/bootstrap.min.js' %}"></script>
        <table width="95%" align="center">
            <form class = "form-horizontal" name = "LoginForm" action = "/moderator/ans_the_foll/" method = "POST">
            {% csrf_token %}
            <tr>
                <td>
                    <h2 style="color: black;">Answer the following questions in 20 to 25 words each.</h2>
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <select class="form-control input-lg" id = "chapter" name="chapter">
                        <option selected="selected">--Select Chapter--</option>
                        <option value="a_01_">Chapter 1: Imperialism: Geographical Discoveries and Imperialism</option>
                        <option value="a_02_">Chapter 2: Imperialism: Imperialism in Asia</option>
                        <option value="a_03_">Chapter 3: Imperialism: Imperialism in Africa</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td>
                    <h3>Question:</h3>
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <input class="form-control input-lg" type="text" id="question" name="question" placeholder="Give the meaning of the word ‘Imperialism’.">
                </td>
            </tr>
            <tr>
                <td></td>
                <td>
                    <h4>Previously Appeared In:</h4>
                    <input class="form-control input-mg" type="text" id="prev_ppr" name="prev_ppr" placeholder="Mar-14, Oct-11">
                </td>
            </tr>
            <tr>
                <td>
                    <h3>Answer:</h3>
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <textarea style="width: 1300px;" class="form-control textarea" rows="4" id="answer" placeholder="Imperialism can be defined as domination of an undeveloped nation by a developed nation by virtue of establishing a colony. In other words, imperialism consists in an absolute domination of a nation by another nation. Imperialism sprouted from colonism." name="answer"></textarea></td>
                </td>
            </tr>
            <tr>
                <td>
                    <h4>Constant Keyword:</h4>
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <textarea style="width: 1300px;" class="form-control textarea" rows="1" id="c_ky" placeholder="domination of an undeveloped nation by a developed nation by virtue of establishing a colony;imperialism consists in an absolute domination of a nation by another nation;colonism" name="c_ky"></textarea></td>
                </td>
            </tr>
            <tr>
                <td>
                    <h4>Variable Keyword:</h4>
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <textarea style="width: 1300px;" class="form-control textarea" rows="1" id="v_ky" placeholder="sprouted;" name="v_ky"></textarea>
                </td>
          </tr>
                <div class="footer navbar-inverse navbar-fixed-bottom">
                    <div class="container">
                        <button type="submit" name="login" class="navbar-btn btn-danger btn pull-right" >Save and Continue</button>
                    </div>
                </div>
            </form>
        </table>
    {% endblock %}
  </body>
</html>